
body {
	font-family: $main-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $head-font;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


.center {
  text-align: center;
}