.partners-header {
  background-color: $bg-2;
  min-height: 600px;
  position: relative;

  h2 {
    color: $primary;
    font-size: 3em;
    padding-top: .5em;
  }

  h3 {
    color: $primary;
  }
}

@media screen and (min-width: 68em) {
  .partners-header {
  background-attachment: fixed;
  }
}

.partner_hero h3{
  text-align: center;
  padding-top: 30px;
}

.partner-1, .partner-2, .partner-3, .partner-4, .partner-5 {
    object-fit: cover;
    max-height: 200px;
    width: 100%;
}

.partner-details {
  width: 100%;
  background-color: $bg-2;
  padding-left: 10px;

  h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
  }

  p {
    margin-top: 0px;
    padding-bottom: 10px;
  }

  a {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 40em) {
  .fixed-height {
    min-height: 350px;
  }
}


.partner-join {
    width: 100%;
  background-color: $bg-2;
  padding-left: 10px;
  margin-bottom: 20px;

  h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
  }

  p {
    margin-top: 0px;
  }

  a {
    margin-bottom: 20px;
  }

}







