.trip-header {
  background-color: $bg-2;
  min-height: 600px;
  position: relative;

  h2 {
    color: $primary;
    font-size: 3em;
    padding-top: .5em;
  }

  h3 {
    color: $primary;
  }
}

@media screen and (min-width: 68em) {
  .trip-header {
  background-attachment: fixed;
  }
}

.trip-type-head {
  background-color: $secondary;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  padding: 20px;
}

.trip-card {
  background-color: $bg-2;
}

.trip-info {
  padding: 10px;
  background-color: $bg-2;
  margin-top: 10px;
}

.trip-info:last-of-type {
  margin-bottom: 60px;
}

.trip-title {
  margin-bottom: 0px;
  font-size: 1.7em;
}

.trip-date {
  font-weight: 600;
  padding-left: 3px;
  margin-bottom: 0px;
}

.trip-deets {
  padding-left: 3px;
  margin-top: 0;
}
