//Variables
$main-font: 'Roboto', sans-serif;
$head-font: 'Raleway', sans-serif;

//colors
$bg: #8aa2c5;
$bg-2: #e1e5eb;
$bg-3: #085384;
$bg-4: #f5f5f5;
$dkblue: #0a4068;
$primary: #ffffff;
$secondary: #4e7aab;
$tertiary: #E56539;